.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  height: 300px;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 0 5px #ddd;
  background-color: ;
  
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease-in-out;

  /* Add media query for screens smaller than 768px */
  @media screen and (max-width: 768px) {
    width: 200px;
    height: 200px;
    margin: 10px;
  }
}

.card:hover {
  transform: scale(1.1);
}

.card h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.card p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.card button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.card-link {
  text-decoration: none;
  color: inherit;
}

  
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  position: relative;
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  position: relative;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-size: calc(10px + 2vmin);
  color: white;
}

.cards {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

.show-rates .cards {
  transform: translateY(-100%);
}

.rates {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  transition: all 0.5s ease;
  background-color: #282c34;
}

.show-rates .rates {
  transform: translateY(0);
}

.back-btn {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
