.login-form {
    width: 300px;
    margin: 0 auto;
    padding-top: 150px;
    
    
  }
  
  .login-form input[type="text"],
  .login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .login-form button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  .reg-item {
    padding : 10px;
  }
  