.marketplace-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.add-component-container {
  width: 400px;
  margin-right: 20px;
  border-right: 2px solid grey;
  
}


.marketplace-form {
  padding: 20px;
  background-color: transparent;
  border-radius: 10px;
  border-color: black ;
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.submit-button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.back-btn {
  
 position: absolute;
  top: 2rem;
  left: 4%;
  transform: translateX(-50%);
  cursor: pointer;

  
}

.component-list-container {
  flex: 1;
}

.component-entry {
  padding: 10px;
  margin-bottom: 10px;
  background-color: ;
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-style: italic;
  font-family: serif;
}

.component-entry .counter {
  margin-right: 10px;
}

.component-entry .item-name {
  flex-grow: 1;
  font-weight: bold;
}

.component-entry .description,
.component-entry .price,
.component-entry .quantity {
  margin-right: 10px;
}

.component-entry .list-button {
  padding: 5px 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.component-entry .list-button2 {
  padding: 10px;
  margin-left: 10px;
  
}

.list-button3 {
  position: fixed;
  bottom: 0;
  right: 0;

}